@media screen and (max-width: 1700px) {
    #about-me {
        width: 90%;
    }
}

@media screen and (max-width: 1619px) {
    #about-me-image {
        margin-left: 0;
    }
}

@media screen and (max-width: 1480px) {
    #about-me {
        width: 100%;
    }
    .first-cont {
        width: 85%;
    }
}


@media screen and (max-width: 1160px) {
    .topdiv {
        display: none;
    }
    .mobile-navbar{
        display: block;
    }
}


@media screen and (max-width: 1200px){
    .first-cont {
        display: grid;
    }
    #about-me-image {
        width: 100%;
        display: grid;
        justify-content: center;
        animation: animate 5s linear infinite;
    }

    @keyframes animate {
        0%,100% {
            transform: translateX(0px);
        }
        25% {
            transform: translateX(-30px);
        }
        50% {
            transform: translateX(0px);
        }
        75% {
            transform: translateX(50px);
        }
    }

    #about-me-text {
        text-align: center;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
}

@media screen and (max-width: 1749px) {
    #quest-img{
        display: none;
    }
    #bear-img{
        display: none;
    }
}

@media screen and (max-width: 1749px) {
    #foxy-img{
        display: none;
    }
    #enot-img{
        display: none;
    }
}